.root {
  li {
    display: inline-block;
  }
  a {
    color: #198754;
    display: inline-block;
    text-align: center;
    width: 45px;
    height: 45px;
    line-height: 42px;
    border: 1px solid #198754;
    border-radius: 3px;
    margin-right: 10px;
    cursor: pointer;
    &:hover {
      background-color: #198754;
      color: #fff;
    }
  }

  :global {
    .selected {
      a {
        background-color: #198754;
        color: #fff;
      }
    }
  }
}
